* {
  box-sizing: border-box;
}

.top-bar {
  background: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;

  .container {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
  }

  .btn {
    background: lightcyan;
    display: inline-block;
    height: 100%;

    a {
      display: block;
      padding: 14px;
      height: 100%;
    }

    &.active {
      border-bottom: 3px solid black;
    }
  }
}

.content {
  margin-top: 50px;
  width: 700px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
